body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGX5HfIssO8akLvCKzHasA5Q4OH6uFGyzGQw');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #333;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as needed */
}

.container img {
    width: 50%; /* Adjust image width */
    height: auto;
    opacity: 1;
    transition: opacity 0.5s;
}

.container img:hover {
    opacity: 0.3;
}

.text {
    position: absolute;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
