body {
    background-color: ##fffbfe;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none; ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #70A0AF;
  color: black
}

.active {
  background-color: #F9A03F;
}

#accountform {
background-color: black;
color: white;
}