body {
    background-color: ##fffbfe;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a, ul li img {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li.logo img {
    height: 30px;
    width: auto;
    padding: 10px;
    margin: 0 10px;
}

ul li a:hover {
    background-color: #111;
}

ul li a.active {
    background-color: #4CAF50;
}

#accountform {
background-color: #4CAF50;
color: white;
width: 100;
border: 5px solid;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
p 80adding: 10px;
}