<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <meta name="wineport" content="width=device-width, initial-scale=1">
    <title>Home</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="/static/scripts/script.js"></script>

</head>
<body>
    <ul>
      <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('booking') }}">Booking</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('account') }}">Account</a></li>
    </ul>


<div id="bookingform">
<form>
<label for="email">email</label>
<input type="email" id="email" name="email" required><br>

    <label for="pitch">pitch</label>
<input type="text" id="pitch" name="pitch" required><br>

    <label for="start">start</label>
<input type="time" id="start" name="start" required><br>

    <label for="end">end</label>
<input type="time" id="end" name="end" required><br>

    <label for="amenities">amenities</label>
<input type="text" id="amenities" name="amenities" required><br>

    <button type="submit" class="button-group" id="submit_booking">Submit</button>
</form>
</div>

</body>
<style>
  body {
                background-image: url("https://wallpapercave.com/wp/wp3394993.jpg")
            }
</style>
</html>