<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/test.css') }}"/>
    <meta name="wineport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="/static/scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <nav>
            <ul>

            </ul>
        </nav>

    </div>
    <ul>
      <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('booking') }}">Booking</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('account') }}">Account</a></li>
    </ul>

<div class="box">
        <form>
            <div class="inputBox">
                <input type="email" id="email" name="email" required value="">
                <label>Email</label>
            </div>

            <div class="inputBox">
                <input type="number" id="pitch" name="pitch" required value="">
                <label>Pitch</label>
            </div>

            <div class="inputBox">
                <input type="time" id="start" name="start" required value="">
                <label>Start</label>
            </div>

            <div class="inputBox">
                <input type="time" id="end" name="end" required value="">
                <label>End</label>
            </div>

            <div class="inputBox">
                <input type="text" id="ammenities" name="ammenities" required value="">
                <label>Ammenities</label>
            </div>
            <input type="submit" name="submit_booking" value="Submit" class="button-group" id="submit_booking">
        </form>
</div>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Football Pitch Booking. All rights reserved.</p>
    </footer>
</body>
</html>