<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta charset="utf-8">

<meta name="wineport" content="width=device-width, initial-scale=1">

<link rel="stylesheet“
href="link....">

<link rel="stylesheet" href="style.css">

<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js......"></script>

<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js......"></script>

<script src="script.js"></script>

</head>

<body>
<link rel="stylesheet" href="/static/css/style.css">
<body>
<ul>
  <li><a class="active" href="templates/home.html">Home</a></li>
  <li><a href="/templates/booking.html">Booking</a></li>
  <li><a href="/templates/contact.html">Contact</a></li>
  <li><a href="/templates/about.html">About</a></li>
  <li><a href="/templates/account.html">Account</a></li>
</ul>
<title>Page Title</title>
</head>

<h1>My First Heading</h1>
<p>My first paragraph.</p>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet“
href="link....">

<link rel="stylesheet" href="style.css">

<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>

<script src="script.js"></script>

</head>


</body>
</html>