<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wineport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/script.js"></script>

</head>
<body>

<ul>
  <li><a class="active" href="/templates/home.html">Home</a></li>
  <li><a href="/templates/booking.html">Booking</a></li>
  <li><a href="/templates/contact.html">Contact</a></li>
  <li><a href="/templates/about.html">About</a></li>
  <li><a href="/templates/account.html">Account</a></li>
</ul>

<h1>My First Heading</h1>
<p>My first paragraph.</p>
<a href="http://127.0.0.1:5000/templates/booking.html">Booking</a>

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="/static/media/soccer_pitch.jpg" style="width:100%">
    <div class="text">Soccer Pitch</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="/static/media/soccer_ball.jpg" style="width:100%">
    <div class="text">Soccer Ball</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="/static/media/soccer_player.jpg" style="width:100%">
    <div class="text">Soccer Player</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

</body>
</html>